
.search-box {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid oklch(35.7% 0.119 246);
  border-radius: 20px;
  transition: background-color 0.01s ease, border-color 0.01s ease;
}

.navbar-light .search-box {
  background-color: #f0f0f0;
}

.navbar-dark .search-box {
  background-color: #333;
}

.search-box input {
  padding: px;
  background: transparent;
  border: 2px solid transparent;
  outline: 0;
  color: #fff;
  font-size: 18px;
  max-width: 200px;
  border-radius: 20px;
  transition: border-color 0.3s ease;
}

.search-box input::placeholder {
  color: transparent;
}


.navbar-light .search-box input {
  color: #000;
}


.navbar-dark .search-box input {
  color: #fff;
}

.navbar-light .search-box input::placeholder {
  color: #999;
}


.navbar-dark .search-box input::placeholder {
  color: #999;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}